.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-neon-blue;
  box-sizing: border-box;
  padding: 32px 20px;
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  z-index: 5;
  width: 1200px;
}

.main-header__phone {
  color: $color-default-white;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
